__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

#.venv
/lgbm_model.joblib
/scaler.joblib
/le_Sex.joblib
/le_ST_Slope.joblib
/le_RestingECG.joblib
/le_ExerciseAngina.joblib
/le_ChestPainType.joblib
/.git
/__pycache__
/my_model.pt 
/my_model3.pt
/temp_uploads
/.vscode
/myvenv
